<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Bunitas Salon Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
 -->
<footer class="page-footer font-small back_footer" style="padding-top: 1px;" *ngIf="visibility">


  <div class="container">
    <div class="row" style="margin: 20px 0;">
      <div class="col-md-3" style="padding: 10px 0px;">
        <a href="/"><img src="https://bunitas.co.uk/uploads/0000/1/2022/08/06/bunitaslogo.png" alt="Bunitas"
            style="width: 150px"></a>
        <!-- <div style="justify-content: space-between; line-height: 50px; margin-top: 20px">
          <a [href]="util.apple_appstore" target="_blank">
            <img src="assets/imgs/appstore.svg" alt="" style="height: 45px;">
          </a>
          <a [href]="util.google_playstore" target="_blank">
            <img src="assets/imgs/google.svg" alt="" style="height: 45px;">
          </a>
        </div> -->
      </div>
      <div class="col-md-3" style="padding: 10px 0px;">
        <label class="footer_lbl">{{util.translate('About Bunitas')}} </label>
        <div class="flex_box" (click)="goToAbout()">
          <a>{{util.translate('About Us')}}</a>
        </div>
        <div class="flex_box">
          <a href="https://bunitas.co.uk/page/beinspired">{{util.translate('Be Inspired')}}</a>
        </div>
        <div class="flex_box">
          <a href="https://support.bunitas.com/docs/how-to-become-our-brand-ambassador/" target="_blank"> Brand Ambassador </a>
        </div>
        <div class="flex_box">
          <a href="https://support.bunitas.com/docs/what-is-the-bunitass-referral-program/;" target="_blank"> Referral Program </a>
        </div>
      </div>
      <div class="col-md-3" style="padding: 10px 0px;">
        <label class="footer_lbl">{{util.translate('Legal')}} </label>
        <div class="flex_box">
          <a href="https://legal.bunitas.com/bunitas-privacy-policy/" target="_blank"> Privacy Policy </a>
        </div>
        <div class="flex_box">
          <a href="https://legal.bunitas.com/bunitas-terms-of-use/" target="_blank"> Term of use </a>
        </div>
        <div class="flex_box">
          <a href="https://legal.bunitas.com/cookie-notice/" target="_blank"> Cooking settings </a>
        </div>
      </div>
      <div class="col-md-3" style="padding: 10px 0px;">
        <label class="footer_lbl">{{util.translate('Contact Us')}} </label>
        <div class="flex_box">
          <a href="https://support.bunitas.com/" target="_blank"> Customer Help Centre </a>
        </div>
        <div class="flex_box">
          <a href="http://hc.bunitas.com/" target="_blank"> Partner Help Centre </a>
        </div>
        <div class="flex_box">
          <a href="https://bunitas.co.uk/register" target="_blank"> Become Our Partner </a>
        </div>
        <div class="flex_box">
          <a href="mailto:support@bunitas.co.uk"> support@bunitas.co.uk </a>
        </div>
      </div>
    </div>
  </div>


<!--
  <div class="container text-center text-md-left mt-5">
    <div class="row" style="border-bottom: 1px solid white">

      <div class="col-md-4 col-lg-4 col-xl-3 mb-4" style="text-align: initial;">

        <label class="footer_lbl">{{util.websiteName}} </label>

        <div style="display: flex;flex-direction: column ;justify-content: space-between;">
          <a [href]="util.apple_appstore" target="_blank">
            <img src="assets/imgs/appstore.svg" alt="" style="width: 100%;height: 100px;">
          </a>
          <a [href]="util.google_playstore" target="_blank">
            <img src="assets/imgs/google.svg" alt="" style="width: 100%;height: 100px;">
          </a>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4" style="text-align: initial;">

        <label class="footer_lbl">{{util.translate('Important Links')}}</label>

        <div class="flex_box" (click)="goToAbout()">
          <a>{{util.translate('About')}}</a>
        </div>
        <div class="flex_box" (click)="blogs()">
          <a>{{util.translate('The Blogs')}}</a>
        </div>
        <div class="flex_box" (click)="goToContact()">
          <a>{{util.translate('Contact Us')}}</a>
        </div>
        <div class="flex_box" (click)="goToFaqs()">
          <a>{{util.translate('FAQ')}}</a>
        </div>
        <div class="flex_box" (click)="goToNotice()">
          <a>{{util.translate('Legal Mentions')}}</a>
        </div>
        <div class="flex_box" (click)="goToCookies()">
          <a>{{util.translate('Cookies')}}</a>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4" style="text-align: initial;" *ngIf="util.general">
        <label class="footer_lbl">{{util.translate('Contact')}}</label>

        <div class="flex_box">
          <a>
            {{util.general.city}} - {{util.general.country}} - {{util.general.zip}}
          </a>
        </div>

        <div class="flex_box">
          <a>{{util.general.mobile}} </a>
        </div>

        <div class="flex_box">
          <a>{{util.general.email}} </a>
        </div>
      </div>
    </div>

  </div> -->

  <div class="footer-copyright text-center py-3" style="background: rgba(0,0,0,0.5); text-align: initial;">
    <div class="container">
      <label>© {{getCopyright()}} {{util.translate('Copyright')}}:<a [href]="util.websiteURL">
          {{util.websiteName}}</a></label>
      <div>
        <a [href]="util.facebook_link" target="_blank" rel="noopener noreferrer">
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
        <a [href]="util.instagram_link" target="_blank" rel="noopener noreferrer">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
        <a [href]="util.twitter_link" target="_blank" rel="noopener noreferrer">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->
