<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Bunitas Salon Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
 -->
 <section id="home" class="text-left hero-section bg-gredient">
  <div class="container">
      <div class="row align-items-center">
        <div class="hero-content col-lg-9 p-175px-tb lg-p-175px-t lg-p-100px-b md-p-100px-t md-p-50px-b">
            <h2 class="Text hero__title" data-wow-delay=".1s" style="margin-bottom: 15px;">The salon owners, barbers, mobile beauticians, wellness experts, and Beauty owners love Bunitas<br>
            </h2>
            <ngx-typed-js [loop]="true" [shuffle]="true" [typeSpeed]="70" [showCursor]="false" [strings]="['The ultimate platform for your business success!']">
              <h3 class="typing"></h3>
            </ngx-typed-js>
            <a class="primary-btn wow fadeInLeft" data-wow-delay=".3s" style="margin-top: 100px" style="color: white;background:#9C0278" (click)="appComponent.showRegisterPartnerDailog()">Join Us Now</a>
        </div>
        <div class="promo-image d-none d-lg-block" *ngIf="util.deviceType=='desktop'">
            <img class="img-fluid" data-wow-delay=".3s" src="assets/imgs/partner-banner.png" alt="" style="width: 500px;"/>
        </div>
        <div class="promo-image " *ngIf="util.deviceType!='desktop'">
          <img class="img-fluid" data-wow-delay=".3s" src="assets/imgs/partner-banner.png" alt="" style="width: 300px;"/>
        </div>
      </div>
  </div>
</section>

<div class="container" style="padding: 30px 0px;">
  <div class="StaticPageSection StaticPageSection--maxWidth-primary SoftwareSolution">
    <p class="Text SectionTitle SectionTitle--40 SoftwareSolution__title">The ultimate platform for your <br/>business success</p>
    <p class="Text SectionDescription">You'll love our amazing features that help you increase revenue, organize your schedule and keep your customers happy.
      <br>You can concentrate on your passion and let us handle the rest.
    </p>
    <div class="SolutionList">
      <!-- <div class="SolutionList__softwareSolutionWrapper">
          <div class="SolutionList__solution">
            <img src="https://cdn-static-business-pages-spa.fresha.com/icons/solution-appointments-management.svg" class="Icon SolutionList__solution__icon" alt="Best Appointment scheduling Software App">
            <p class="Text SolutionList__solution__title">Manage your salon</p>
            <p class="Text SolutionList__solution__description">Appointments with ease on any device with our stylish and intuitive software.</p>
          </div>
          <div class="SolutionList__solution">
            <img src="https://cdn-static-business-pages-spa.fresha.com/icons/solution-payment-terminals.svg" class="Icon SolutionList__solution__icon" alt="Top Payment processing rates for salon software">
            <p class="Text SolutionList__solution__title">Enjoy a smooth checkout</p>
            <p class="Text SolutionList__solution__description">Experience with our payment processing options. All transactions are secure and hassle-free.</p>
          </div>
          <div class="SolutionList__solution">
            <img src="https://cdn-static-business-pages-spa.fresha.com/icons/solution-sales-invoicing.svg" class="Icon SolutionList__solution__icon" alt="Best Salon software POS">
            <p class="Text SolutionList__solution__title">Marketing Promotions</p>
            <p class="Text SolutionList__solution__description">Grow your business and attract new clients with the most advanced salon software that offers marketing tools and features.</p>
          </div>
          <div class="SolutionList__solution">
            <img src="https://cdn-static-business-pages-spa.fresha.com/icons/solution-marketing-promotions.svg" class="Icon SolutionList__solution__icon" alt="Comprehensive marketing for salons booking systems">
            <p class="Text SolutionList__solution__title">Product Inventory</p>
            <p class="Text SolutionList__solution__description">Keep track of your products and create your own e-commerce site to reach global customers.</p>
          </div>
          <div class="SolutionList__solution">
            <img src="https://cdn-static-business-pages-spa.fresha.com/icons/solution-inventory-orders.svg" class="Icon SolutionList__solution__icon" alt="All-in-one Product management features fully integrated with salon scheduling app">
            <p class="Text SolutionList__solution__title">Reporting & Analtyics</p>
            <p class="Text SolutionList__solution__description">Discover how your salon is doing financially, what your clients want, and how to grow your business with Bunitas's amazing tools for reporting and analytics.</p>
          </div>
      </div> -->
      <div class="slider_row">
        <div class="SolutionList__softwareSolutionWrapper">
          <carousel [cellWidth]="360" [height]="360" [autoplay]="true" style="z-index: unset;">
            <div class="carousel-cell">
              <div class="SolutionList__solution">
                <img src="assets/svg/manage.svg"
                  class="Icon SolutionList__solution__icon" alt="Best Appointment scheduling Software App">
                <p class="Text SolutionList__solution__title">Manage your salon</p>
                <p class="Text SolutionList__solution__description">Appointments with ease on any device with our stylish and intuitive software.</p>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="SolutionList__solution">
                <img src="assets/svg/checkout.svg" class="Icon SolutionList__solution__icon" alt="Top Payment processing rates for salon software">
                <p class="Text SolutionList__solution__title">Enjoy a smooth checkout</p>
                <p class="Text SolutionList__solution__description">Experience with our payment processing options. All transactions are secure and hassle-free.</p>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="SolutionList__solution">
                <img src="assets/svg/marketing.svg" class="Icon SolutionList__solution__icon" alt="Best Salon software POS">
                <p class="Text SolutionList__solution__title">Marketing Promotions</p>
                <p class="Text SolutionList__solution__description">Grow your business and attract new clients with the most advanced salon software that offers marketing tools and features.</p>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="SolutionList__solution">
                <img src="assets/svg/inventory.svg" class="Icon SolutionList__solution__icon" alt="Comprehensive marketing for salons booking systems">
                <p class="Text SolutionList__solution__title">Product Inventory</p>
                <p class="Text SolutionList__solution__description">Keep track of your products and create your own e-commerce site to reach global customers.</p>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="SolutionList__solution">
                <img src="assets/svg/analyticss.svg" class="Icon SolutionList__solution__icon" alt="All-in-one Product management features fully integrated with salon scheduling app">
                <p class="Text SolutionList__solution__title">Reporting & Analtyics</p>
                <p class="Text SolutionList__solution__description">Discover how your salon is doing financially, what your clients want, and how to grow your business with Bunitas's amazing tools for reporting and analytics.</p>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background: #f5f5f5;padding: 50px 0px;">
  <div class="container">
    <div class="StaticPageSection StaticPageSection--maxWidth-primary SoftwareSolution">
      <div class="Features__content">
        <div style="padding: 20px 0px;">
            <!-- <h2 class="Text Text--color-orange-600 Text--transform-uppercase FeaturesContent__title">Online Booking</h2> -->
            <h3 class="Text FeaturesContent__subtitle">Grow your business and attract new clients</h3>
            <p class="Text FeaturesContent__description">Showcase your brand, availability, and services on Bunitas and connect with thousands of clients in your area.</p><br/>
            <p class="Text FeaturesContent__description">Make it easy for clients to book you online from your social media pages. With Bunitas.</p><br/>
            <!-- <ul class="CheckList FeaturesContent__featuresList" style="padding: 0">
              <li class="CheckList__item">
                  <img width="24" height="24" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> -->
            <p class="Text FeaturesContent__description">- Grow your client base</p>
              <!-- </li>
              <li class="CheckList__item">
                  <img width="24" height="24" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> -->
            <p class="Text FeaturesContent__description">- Online appointment scheduling</p>
              <!-- </li>
              <li class="CheckList__item">
                  <img width="24" height="24" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> -->
            <p class="Text FeaturesContent__description">- Earn trust with ratings and reviews</p>
              <!-- </li>
              <li class="CheckList__item">
                <img width="24" height="24" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> -->
            <p class="Text FeaturesContent__description">- Sell your Products</p>
            <!-- </li>
            </ul> -->
        </div>
        <picture class="Features__picture">
            <img style="width: 90% !important;height: auto;" src="assets/imgs/home-4.jpg" alt="Fresha is the top-rated salon software allowing you to enhance your salon's online presence with powerful marketing and promotional tools, designed to attract new clients and strengthen relationships with existing customers.">
        </picture>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding: 50px 0px;">
  <div class="StaticPageSection StaticPageSection--maxWidth-primary SoftwareSolution">
    <p class="Text SectionTitle SectionTitle--40 SoftwareSolution__title">PRICING</p>
    <div class="row" style="margin: 0px !important;">
      <div class="col-lg-6" style="padding: 20px 0px;">
        <div class="CheckList FeaturesContent__featuresList">
          <div class="CheckList__item" style="display:block;">
            <p class="Text FeaturesContent__description" style="font-size: 20px;"><img width="20" height="20" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> Free Registration</p>
          </div>
          <div class="CheckList__item" style="display:block;">
            <p class="Text FeaturesContent__description" style="font-size: 20px;"><img width="20" height="20" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> For as little as £7.99 per month*, Enjoy the benefits of the Endless possibilities: </p>
            <div style="margin-left: 30px;">
              <p class="Text FeaturesContent__description">- Enjoy access to all the features you need</p>
              <p class="Text FeaturesContent__description">- Receive as many appointments as you want</p>
              <p class="Text FeaturesContent__description">- Add as many treatments as you can</p>
              <p class="Text FeaturesContent__description">- Add as many team members as you need</p>
              <p class="Text FeaturesContent__description">- Manage multiple locations with ease</p>
              <p class="Text FeaturesContent__description">- Track and update your product inventory without any limits</p>
              <p class="Text FeaturesContent__description">- Keep your clients happy</p>
              <p class="Text FeaturesContent__description">- Be visible across thousands clients</p>
              <p class="Text FeaturesContent__description">- Join us today and experience the benefits of endless possibilities!</p>
            </div>
          </div>
          <div class="CheckList__item" style="display:block; ">
            <p class="Text FeaturesContent__description" style="font-size: 20px;"><img width="20" height="20" src="https://cdn-static-business-pages-spa.fresha.com/icons/tick.svg" class="Icon CheckList__item__icon" alt="icon"> Get 50% of Deposit from Customers*</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <picture class="Features__picture">
          <img style="width: 90%;height: auto;" src="assets/imgs/home-5.jpg">
        </picture>
      </div>
    </div>
  </div>
</div>

<div style="background: #f5f5f5;padding: 50px 0px;">
  <div class="container" >
    <div class="StaticPageSection StaticPageSection--maxWidth-primary DownloadApp">
      <p class="Text SectionTitle SectionTitle--40">Download the Bunitas App</p>
      <p class="Text SectionDescription" style="margin: 10px 0px 0px 0px !important;">Bunitas App is the mobile app that lets you:</p>
      <p class="Text SectionDescription" style="margin: 10px 0px 0px 0px !important;">- Easily manage your Business</p>
      <p class="Text SectionDescription" style="margin: 10px 0px 40px 0px !important;">- Book your beautiful treatments anytime, anywhere</p>
      <div class="DownloadApp__appCardsWrapper">
        <div class="AppCard AppCard--background-gray" style="display: flex;text-align: center;padding-bottom: 20px;">
          <img src="assets/imgs/mobile-user.jpg" style="width: 50%;">
          <div>
            <h3 class="Text Text--color-white AppCard__marketplaceTitle" style="margin-bottom: 42px;white-space: break-spaces;color: black">Bunitas App for Customers</h3>
            <div class="AppCard__storeIconWrapper" style="margin: auto;margin-top: 80px;">
              <a [href]="util.apple_appstore" target="_blank">
                <img src="assets/imgs/appstore.svg" alt="" style="height: 45px;">
              </a>
              <a [href]="util.google_playstore" target="_blank">
                <img src="assets/imgs/google.svg" alt="" style="height: 45px;">
              </a>
            </div>
          </div>
        </div>
        <div class="AppCard AppCard--background-yellow"  style="display: flex;text-align: center;padding-bottom: 20px;">
          <img src="assets/imgs/mobile-owner.jpg" style="width: 50%;">
          <div>
            <h3 class="Text Text--color-black AppCard__marketplaceTitle" style="margin-bottom: 0px;white-space: break-spaces;">Bunitas App for Partners</h3>
            <p class="Text SectionDescription" style="margin: 0px 0px 10px 0px !important;font-size: 20px;white-space: break-spaces;color: black">Salon Owners & Mobile Beauticians</p>
            <div class="AppCard__storeIconWrapper" style="margin: auto;margin-top: 20px;">
              <a [href]="util.apple_appstore" target="_blank">
                <img src="assets/imgs/appstore.svg" alt="" style="height: 45px;">
              </a>
              <a [href]="util.google_playstore" target="_blank">
                <img src="assets/imgs/google.svg" alt="" style="height: 45px;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
